div.consuming div, div.sending div{
    transform: scale(0);
    float: right;
}

$scalingConsumingColor:  rgba(153, 187, 245, 1); //#99bbf5;
$scalingConsumingBoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
@keyframes scalingConsumingRound{
    0%, 100%{
      transform: scale(1);
      background-color:  $scalingConsumingColor;
    }
    40%{
      transform: scale(1.1);
    }
    60%{
      transform: scale(1.7);
      box-shadow: $scalingConsumingBoxShadow;
      opacity: 1;
    }
  }
  
@keyframes scalingConsumingSquare{
    0%, 100%{
      transform: scale(1);
      background-color:  $scalingConsumingColor;
    }
    40%{
      transform: scale(1.1);
    }
    60%{
      transform: scale(1.6);
      box-shadow: $scalingConsumingBoxShadow;
      opacity: 1;
    }
  }
  
@keyframes scalingConsumingLine{
    0%, 100%{
      transform: scale(1);
      background-color:  $scalingConsumingColor;
      //opacity: 0.5;
    }
    40%{
      transform: scale(1.1);
    }
    60%{
      transform: scale(1.7);
      box-shadow: $scalingConsumingBoxShadow;
      opacity: 1;
    }
  }



$scalingSendingColor: rgba(113, 194, 153, 1); //#71c299;
$scalingSendingBoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

@keyframes scalingSendingRound{
  0%, 100%{
    transform: scale(1);
    background-color: $scalingSendingColor;
  }
  40%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1.7);
    box-shadow: $scalingSendingBoxShadow;
    opacity: 1;
  }
}


@keyframes scalingSendingSquare{
  0%, 100%{
    transform: scale(1);
    background-color: $scalingSendingColor;
  }
  40%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1.6);
    box-shadow: $scalingSendingBoxShadow;
  }
}

@keyframes scalingSendingLine{
  0%, 100%{
    transform: scale(1);
    background-color: $scalingSendingColor;
    opacity: 1;
  }
  40%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1.7);
    box-shadow: $scalingSendingBoxShadow;
    opacity: 1;
  }
}
