$widthDonutChild: --widthDonutChild;
$heightDonutChild: --heightDonutChild;

div.circle {
    position: absolute;
    background-color: transparent;
    width: var($widthDonutChild, 100px);
    height: var($heightDonutChild, 100px);
    div.children {
        position: relative;
        width: var($widthDonutChild, 100px);
        height: var($heightDonutChild, 100px);

        div.first-child{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
        }

        .svg-item {
            width: 100%;
            font-size: 16px;
            margin: 0 auto;
           
            animation: donutfade 1s;
            
        }
    }

}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .svg-item {
        width: 80%;
    }
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.donut-text {
    font-family: Arial, Helvetica, sans-serif; 
    
    transform: scale(1)  translate(25%, 25%);
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 0.75em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.donut-data {
    font-size: 0.25em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:#666;
    fill: #666;
    animation: donutfadelong 1s;
}

.image-position{
    transform: scale(0.4) translate(100%, 42%);
}

