$widthDonutChild: --widthDonutChild;
$heightDonutChild: --heightDonutChild;

div.circle {
    position: absolute;
    background-color: transparent;
    width: var($widthDonutChild, 100px);
    height: var($heightDonutChild, 100px);
    div.children {
        position: relative;
        width: var($widthDonutChild, 100px);
        height: var($heightDonutChild, 100px);

        div.first-child{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
        }

        .svg-item {
            width: 100%;
            font-size: 16px;
            margin: 0 auto;
           
            animation: donutfade 1s;
            
        }
    }

}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .svg-item {
        width: 80%;
    }
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.donut-text {
    font-family: Arial, Helvetica, sans-serif; 
	opacity: 0;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 0.75em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.donut-data {
    font-size: 0.25em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:#666;
    fill: #666;
    animation: donutfadelong 1s;
}

.position{
    transform: scale(1)  translate(25%, 25%);
}

.goUp{

    
	animation-name: goUpImage;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;   
    animation-fill-mode: forwards;
    //animation-direction: alternate;

}


@keyframes goUpImage {
	0% { 
        transform: scale(1)  translate(25%, 25%);
        opacity: 0.8;
	}
	100% {
        transform: scale(0.5)  translate(75%, 0%);
	}
}

.test{


    transform: scale(0.5)  translate(75%, 0%);
    color: white;
}

.goDown{

	animation-name: goDownImage;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;   
    animation-fill-mode: forwards;

}

@keyframes goDownImage {
	0% { 
        transform: scale(0.5)  translate(75%, 0%);
	}
	100% {
        transform: scale(1)  translate(25%, 25%);
        opacity: 0.8;
	}
}



.fadeIn {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;   
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeOut {
    animation-name: fadeOutOpacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes diagonal-slide {
    from {  transform: scale(1)  translate(25%, 25%); animation-timing-function: linear; }
    to { transform: scale(1)  translate(24%, 26%); animation-timing-function: linear; 
		opacity: 0; }
  }
