
div.main{
    height: 300px;
    width: 300px;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    // border: 1px dotted rgb(57, 21, 218);
    //border: 2px dotted rgb(165, 165, 165);
    border-radius: 50%;
}



