.offcanvas-end {
    border-left: 5px solid #F2F7FF;
    -webkit-box-shadow: -1px 0px 5px 5px rgba(11,112,184,0.1); 
    box-shadow: -1px 0px 5px 5px rgba(11,112,184,0.1);
    
  }

  .offcanvas-header{
      background-color: #F2F7FF;
      h6{
          color: #0B70B8;
      }
  }

  .form-label{
    color: #0B70B8;

  }