<!-- <div class="offcanvas offcanvas-end" [ngClass]="{show: editModeActiveted}" [ngStyle]="{visibility: editModeActiveted ? 'visible' : 'hidden'}"  id="offcanvasRight" aria-labelledby="offcanvasRightLabel"> -->
  <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
    <h6 id="offcanvasRightLabel">{{titlePage}}</h6>
    <a class="closeTheme" data-bs-dismiss="offcanvas" (click)="onCloseMenu()">
        <fa-icon [icon]="faTimes" style="color:#0B70B8;"></fa-icon>
    </a>
  </div>
  <div class="offcanvas-body">
    <form>   
      <div>
        <label for="" class="form-label">Set main Lines shape</label>
      </div>
      <div class="ms-2 form-check" *ngFor="let item of listMainShapeLine">
        <input 
          class="form-check-input" 
          type="radio" name="shapeMainLines" 
          id="{{'shapeMainLines' + item.name}}"  
          [value]="item.id" 
          [(ngModel)]="selectedShapMainValue"
          (change)="onChangeShapeMainValue()">
        <label class="form-check-label" for="{{'shapeMainLines' + item.name}}">
          {{item.name}}
        </label>
      </div>     
      <div class="mt-4">
        <label for="" class="form-label">Set secondary Lines shape</label>
      </div>
      <div class="ms-2 form-check" *ngFor="let item of listSecondaryShapeLine">
        <input 
          class="form-check-input" 
          type="radio" 
          name="shapeSecondaryLines" 
          id="{{'shapeSecondaryLines' + item.name}}"  
          [value]="item.id"  
          [(ngModel)]="selectedShapSeondaryValue"
          (change)="onChangeShapeSecondaryValue()">
        <label class="form-check-label" for="{{'shapeSecondaryLines' + item.name}}">
          {{item.name}}
        </label>
      </div>     
    </form>
  </div>
</div>
